.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
  }
    
    .text-content {
       width: 48%;
      padding-right: 1%;
        
        @media @mobile {
          width:100%;
          padding:0% 2%;
        } 
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
       width:100%;
       padding-left:0%;
       padding: 0% 2%;
      }

      img {
        border-radius: 10px;

        @media @mobile {
          width:100%;
          padding:1%;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    
      @media @mobile {
        width:100%;
        padding:0% 2%;
      }
    
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media @mobile {
        width:100%;
        padding-right: 0;
        padding:1%;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;


    @media @mobile {
      width: 100%;
      margin: 1% auto 0px;
      padding: 2%;
    }

    img {
      border-radius: 10px;

      @media @mobile {
        width: 100%;
        max-width: 100%;
      }

    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      justify-content: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width:70%;
        padding:1%;
      }
    }
  }
}// home

.btn{
  .newButton(blue, white);
  border-radius: 12px;
  text-align: center;
  margin: 2% auto;
  padding: 2% 0;
  font-size: 1.8rem;
}